/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2020, 10:12:22 AM
    Author     : harry
*/
table {
  width: 800px;
  border: 1px solid black;
}
table th {
    width: 100px
}
.header {
    border-right: 1px solid black;
    height: 110px;
    padding: 0;
    text-align: left;
}
.header p {
    margin: 0px;
}
.row {
    border-top: 1px solid black;
}
.border-right {
    border-right: 1px solid black;
}
.small {
    width: 30%
}